.AboutUsImg저장 {
  /* scroll */
  animation: scroll 10s linear infinite;
  width: 100%;
  /* height: 100%; */
  display: flex;
  /* object-fit: cover; */
  object-position: center;
}

.AboutUsImg {
  animation: scroll 10s linear infinite;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: -2;
  width: 1550px;
}

.title {
  /* top : 50%;
    left : 50%;
    width : 100%;
    height : 100%; */
  /* width: 20%;
    margin-left: 40%;
    margin-right: 40%; */
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 300px;
  margin-bottom: 600px;
}

#t1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

#t2 {
  font-size: 1.2rem;
  font-weight: 200;
  color: #fff;
  text-align: center;
  margin-bottom: 120px;
}

#i1 {
  margin: auto;
  display: block;
  width: 20%;
}

#c2_1 {
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: 50% 50%;
}

#i2 {
  width: 126%;
  position: relative;
  left: 60px;
  margin-top: 22px;
}

#t3 {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  left: -210px;
  width: 627px;
  margin: 0;
}

#t4 {
  font-size: 3rem;
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 120px;
  position: relative;
  left: -600px;
  top: 50px;
  margin: 0;
}

#t5 {
  font-size: 0.8rem;
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 120px;
  position: relative;
  left: -99px;
  top: 50px;
  margin: 0;
}

#i3 {
  width: 200%;
  position: relative;
  left: -95px;
}

#i4 {
  width: 200%;
  position: relative;
  left: 315px;
}

#t6 {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  width: 876px;
  top: 500px;
  left: -434px;
  margin: 0;
}

#i5 {
  width: 25%;
  position: relative;
  left: -83px;
  top: 82px;
}

#i6 {
  width: 40%;
  position: relative;
  left: 469px;
  top: 64px;
}

#i7 {
  width: 25%;
  position: relative;
  left: -627px;
  top: 185px;
}

#i8 {
  position: relative;
  left: -93px;
  top: 234px;
}

#i9 {
  position: relative;
  left: 744px;
  top: -100px;
  z-index: -1;
}

#t7 {
  font-size: 3rem;
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 1054px;
  left: -600px;
  margin: 0;
}

#t8 {
  width: 25%;
  position: relative;
  width: fit-content;
  left: -102px;
  top: 600px;
}

#i10 {
  width: 100%;
  position: relative;
  left: -602px;
  top: 679px;
}

#t9 {
  width: 25%;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  left: 400px;
  top: 338px;
}

#t10 {
  font-size: 3rem;
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 1054px;
  left: -600px;
  margin: 0;
}

#t11 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  left: -99px;
  top: 903px;
}

#t12 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  left: 600px;
  top: 906px;
  font-weight: 900;
}

#i11 {
  width: 350%;
  position: relative;
  left: -106px;
  top: 905px;
}

#i12 {
  width: 238%;
  position: relative;
  left: -390px;
  top: 1220px;
}

#t13 {
  font-size: 3rem;
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 1339px;
  left: -95px;
  margin: 0;
}

#t14 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  left: -595px;
  top: 1392px;
}

#i13 {
  width: 250%;
  position: relative;
  left: -90px;
  top: 1458px;
}

#i14 {
  position: relative;
  width: 280%;
  left: -617px;
  top: 1599px;
}

#t15 {
  font-size: 3rem;
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  width: -moz-fit-content;
  /* width: fit-content; */
  width: 900px;
  height: -moz-fit-content;
  height: fit-content;
  top: 2058px;
  left: -110px;
  margin: 0;
}

#i15 {
  width: 80%;
  position: relative;
  left: 24px;
  top: 2067px;
}

#i16 {
  width: 81.5%;
  position: relative;
  left: 890px;
  top: 1262px;
}

#i17 {
  width: 280%;
  position: relative;
  left: -660px;
  top: 2231px;
}

#i18 {
  width: 180%;
  position: relative;
  left: -190px;
  top: 2141px;
}

#i19 {
  width: 171%;
  position: relative;
  left: 0px;
  top: 2039px;
}

#i20 {
  width: 280%;
  position: relative;
  left: -252px;
  top: 2053px;
}

/* .whiteMenuBar {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 55px;
  left: 0;
  top: 0;
  z-index: -1;
} */
